<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="danh955" value="https://nuget.pkg.github.com/danh955/index.json" />
    <add key="Hilres" value="https://nuget.pkg.github.com/hilres/index.json" />
    <add key="Local" value="c:\LocalNuGet" />
  </packageSources>
</configuration>